<div class="menu" data-section="section_side-menu">
    <div class="hashtags">
        <a href="/tags" data-element="link_tags">
            <i class="fas fa-hashtag"></i>
            Tags
        </a>
    </div>
    <div class="categories">
        <a href="/categorias" data-element="link_categorias">
            <i class="far fa-folder-open"></i>
            Categorias
        </a>
    </div>
    <div class="rss">
        <a href="/feed.xml" data-element="link_rss">
            <i class="fas fa-rss"></i>
            RSS
        </a>
    </div>
</div>